# Copyright (c) 2025
# SPDX-License-Identifier: Apache-2.0
# Coskun ERGAN <coskunergan@gmail.com>

mainmenu "ESP32 Canbus Link Demo"

config SAMPLE_RX_THREAD_STACK_SIZE
	int "RX threads stack size"
	default 1024
	help
	  Stack size (in bytes) used for the RX threads.  

config SAMPLE_RX_THREAD_PRIORITY
	int "RX threads priority"
	default 2
	help
	  Priority used for the RX threads.

if WIFI
config NET_IPV4_FORWARDING
    bool "IPv4 forwarding"
    default y
    help
      Enable IPv4 forwarding for AP-STA mode.

config WIFI_SAMPLE_AP_IP_ADDRESS
	string "CONFIG_WIFI_SAMPLE_AP_IP_ADDRESS - Network IP"
	default "192.168.4.1"	

config WIFI_SAMPLE_AP_NETMASK
	string "CONFIG_WIFI_SAMPLE_AP_NETMASK - Network NETMASK"
	default "255.255.255.0"	

config WIFI_SAMPLE_SSID
	string "WIFI SSID - Network name"
	default "SUPERONLINE_Wi-Fi_3AS4"

config WIFI_SAMPLE_PSK
	string "WIFI PSK - Network password key"
	default "K7Q3SKzKC7QN"

config WIFI_SAMPLE_AP_SSID
	string "WIFI AP SSID - Network name"
	default "XENTRON_AP"

config WIFI_SAMPLE_AP_PSK
	string "WIFI AP PSK - Network password key"
	default "deneme123"	

endif # WIFI

source "Kconfig.zephyr"
