
#include "esp32c6_devkitc_hpcore.dtsi"

&i2c0 { 
	status = "okay"; 
	clock-frequency = <I2C_BITRATE_STANDARD>; 
	aux_display_gpio: pcf8574@27 {
		compatible = "nxp,pcf857x";
		reg = <0x27>;
		gpio-controller;
		ngpios = <8>;
		#gpio-cells = <2>;
	};		
};

/ { 	
	gpios {
		compatible = "gpio-leds";
		red_led: red_led {
			gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
			label = "Red LED";
		};
		button: button {
			label = "User SW1";
			gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};		
	};	
	auxdisplay_0: hd44780 {
		compatible = "hit,hd44780";
		columns = <16>;
		rows = <2>;
		mode = <4>;
		boot-delay-ms = <100>;
		register-select-gpios = <&aux_display_gpio 0 (GPIO_ACTIVE_HIGH)>;
		read-write-gpios    = <&aux_display_gpio 1 (GPIO_ACTIVE_HIGH)>;
		enable-gpios        = <&aux_display_gpio 2 (GPIO_ACTIVE_HIGH)>;
		backlight-gpios     = <&aux_display_gpio 3 (GPIO_ACTIVE_HIGH)>;
		data-bus-gpios      = <0>, <0>, <0>, <0>,
				<&aux_display_gpio 4 (GPIO_ACTIVE_HIGH)>,
				<&aux_display_gpio 5 (GPIO_ACTIVE_HIGH)>,
				<&aux_display_gpio 6 (GPIO_ACTIVE_HIGH)>,
				<&aux_display_gpio 7 (GPIO_ACTIVE_HIGH)>;
	};		
};

&uart0 {
	pinctrl-0 = <&uart0_pins>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
	modbus0 {
		compatible = "zephyr,modbus-serial";
		status = "okay";
	};		
};

&uart1 {
	pinctrl-0 = <&uart1_pins>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
	modbus1 {
		compatible = "zephyr,modbus-serial";
		status = "okay";
	};		
};

&twai0{		
	pinctrl-0 = <&twai0_pins>;
	pinctrl-names = "default";
	label = "canbus0"; 
	status = "okay";
	can-transceiver {
		max-bitrate = <1000000>;
	};
};



