
#include <zephyr/dt-bindings/pinctrl/esp-pinctrl-common.h>
#include <dt-bindings/pinctrl/esp32c3-pinctrl.h>
#include <zephyr/dt-bindings/pinctrl/esp32c3-gpio-sigmap.h>

/ { 		
	leds {
		compatible = "gpio-leds";
		red_led: red_led {
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
			label = "Red LED";
		};
		green_led: green_led {
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
			label = "Green LED";
		};
		blue_led: blue_led {
			gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};
	};
	
	buttons {
		compatible = "gpio-leds";
		button: button {
			label = "User SW1";
			gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
	};	

	auxdisplay_0: hd44780 {
		compatible = "hit,hd44780";
		columns = <16>;
		rows = <2>;
		mode = <4>;
		boot-delay-ms = <100>;
		register-select-gpios = <&aux_display_gpio 0 (GPIO_ACTIVE_HIGH)>;
		read-write-gpios    = <&aux_display_gpio 1 (GPIO_ACTIVE_HIGH)>;
		enable-gpios        = <&aux_display_gpio 2 (GPIO_ACTIVE_HIGH)>;
		backlight-gpios     = <&aux_display_gpio 3 (GPIO_ACTIVE_HIGH)>;
		data-bus-gpios      = <0>, <0>, <0>, <0>,
				<&aux_display_gpio 4 (GPIO_ACTIVE_HIGH)>,
				<&aux_display_gpio 5 (GPIO_ACTIVE_HIGH)>,
				<&aux_display_gpio 6 (GPIO_ACTIVE_HIGH)>,
				<&aux_display_gpio 7 (GPIO_ACTIVE_HIGH)>;
	};
};

&pinctrl {
    uart0_pins: uart0_pins {
		group1 {
			pinmux = <UART0_TX_GPIO21>;
			output-high;
		};
		group2 {
			pinmux = <UART0_RX_GPIO20>;
			bias-pull-up;
		};
	};
	uart1_pins: uart1_pins {
		group1 {
			pinmux = <UART1_TX_GPIO18>;
			output-high;
		};
		group2 {
			pinmux = <UART1_RX_GPIO19>;
			bias-pull-up;
		};
	};
	pcf8574_pins: pcf8574_pins {
    	group1 {
                pinmux = <I2C0_SDA_GPIO6>,
                            <I2C0_SCL_GPIO7>;
                bias-pull-up;
                drive-open-drain;
                output-high;
            };
    };	
};

&i2c0 { 
	status = "okay"; 
	pinctrl-0 = <&pcf8574_pins>; 
	clock-frequency = <I2C_BITRATE_STANDARD>; 
	pinctrl-names = "default"; 
   	sht21: sht21@40 {
        compatible = "sensirion,sht21";
        reg = <0x40>;
		label = "sht21";
        status = "okay";
    };		
	aux_display_gpio: pcf8574@27 {
		compatible = "nxp,pcf857x";
		reg = <0x27>;
		gpio-controller;
		ngpios = <8>;
		#gpio-cells = <2>;
	};				
};

&uart0 {
	pinctrl-0 = <&uart0_pins>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
	modbus0 {
		compatible = "zephyr,modbus-serial";
		status = "okay";
	};		
};

&uart1 {
	pinctrl-0 = <&uart1_pins>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
	modbus1 {
		compatible = "zephyr,modbus-serial";
		status = "okay";
	};		
};

&wifi {
    status = "okay";
};

&flash0 {
    reg = <0x0 DT_SIZE_M(2)>;
    
    /delete-node/ partitions;
    
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* Bootloader - 64KB */
        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 0x00010000>;
            read-only;
        };
        
        /* Slot 0 - 960KB */
        slot0_partition: partition@10000 {
            label = "image-0";
            reg = <0x00010000 0x000F0000>;
        };
        
        /* Slot 1 - 960KB  */
        slot1_partition: partition@100000 {
            label = "image-1";
            reg = <0x00100000 0x000F0000>;
        };
        
        /* Storage - 64KB */
        storage_partition: partition@1F0000 {
            label = "storage";
            reg = <0x001F0000 0x00010000>;
        };
    };
};
